<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="margin-top: 203px">
      <img style="height: 250px" src="anh/Screenshot%202022-08-11contract.jpg" class="d-block w-100"
           alt="...">
    </div>

  </div>
</div>
<div class="body_center_2 container">
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div style="text-align: center">
    <a href="create_contract.html"><button  class="btn btn-outline-success" type="button">CREATE</button></a>
  </div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <table class="table table-success">
    <thead>
    <tr >
      <th>Facility</th>
      <th>Customer</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Deposit</th>
      <th>Total money</th>
      <th colspan="2">Attach facility list</th>
    </tr>
    <tr>
      <td>Villa Beach Front</td>
      <td>Nguyễn Thị Hào</td>
      <td>2020-12-08</td>
      <td>2020-12-08</td>
      <td>200000</td>
      <td>200000</td>
      <td>
        <button class="btn-outline-info">
          Attach facility list
        </button>
      </td>
    </tr>
    <tr>
      <td>Villa Beach Front</td>
      <td>Nguyễn Thị Hà</td>
      <td>2020-12-08</td>
      <td>2020-12-08</td>
      <td>200000</td>
      <td>200000</td>
      <td>
        <button class="btn-outline-info" >
          Attach facility list
        </button>
      </td>
    </tr>
    <tr>
      <td>Villa Beach Front</td>
      <td>Nguyễn Thị Hải</td>
      <td>2020-12-08</td>
      <td>2020-12-08</td>
      <td>200000</td>
      <td>200000</td>
      <td>
        <button class="btn-outline-info" >
          Attach facility list
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
</div>
