<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="height: 250px" src="assets/img/Screenshot%202022-08-11%2014084722.jpg" class="d-block w-100"
           alt="...">
    </div>

  </div>
</div>
<div class="body_center_2 container">
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div style="text-align: center">
    <a routerLink="/facility/create">
      <button class="btn btn-outline-success" type="button">CREATE</button>
    </a>
  </div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="row">
    <div class="card_facility col-lg-4" *ngFor="let item of facilities;index as i ">
      <div class="card " style="width: 100%;">
        <img style="height: 220px;" src="{{item.facalityImg}}"
             class="card-img-top"
             alt="...">
        <div class="card-body">
          <div class="row">
            <h5 class="card-title">{{item.facilityName}}</h5>
            <div class="col-lg-6">
              <p class="card-text">Room size: {{item.are}}M²</p>
            </div>
            <div class="col-lg-6">
              <p class="card-text">Price: {{item.cost}}$</p>
            </div>
            <p class="card-text">size: {{item.maxPeople}}</p>


            <div class="col-lg-4">
              <button routerLink="/facility/edit" style="width: 100%" type="button" class="btn btn-outline-primary">
                Edit
              </button>
            </div>
            <div class="col-lg-4">
              <button style="width: 100%" type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                      data-bs-target="#a" (click)="displayModalDetail(item.id)">
                Detail
              </button>
            </div>
            <div class="col-lg-4">
              <button style="width: 100%" type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 110px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          bạn có muốn xóa (name)
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn btn-outline-info" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn btn-outline-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <!--modal detail-->

    <div class="modal fade" id="a" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabelDetail">Detail</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row" >
                <div class="col-6 " >ID</div>
                <div class="col-12">
                  <label class="form-control">{{faclityObjModal.id}}</label>
                </div>
                <div class="col-6">Name</div>
                <div class="col-12">
                  <label class="form-control">{{faclityObjModal.facilityName}}</label>
                </div>
                <div class="col-6">ARE</div>
                <div class="col-12">
                  <label class="form-control">{{faclityObjModal.are}}</label>
                </div>
                <div class="col-6">Cost</div>
                <div class="col-12">
                  <label class="form-control">{{faclityObjModal.cost}}</label>
                </div>
                <div class="col-6">Max People</div>
                <div class="col-12">
                  <label class="form-control">{{faclityObjModal.maxPeople}}</label>
                </div>
                <div class="col-6">RentType</div>
                <div class="col-12">
                  <label class="form-control">{{faclityObjModal.rentTypeId}}</label>
                </div>
                <div class="col-6">Standard Room</div>
                <div class="col-12">
                  <label class="form-control">{{faclityObjModal.standardRoom}}</label>
                </div>
                <div class="col-6">Description</div>
                <div class="col-12">
                  <label class="form-control">{{faclityObjModal.descriptionOtherConvenience}}</label>
                </div>
                <div class="col-6">Pool Area</div>
                <div class="col-12">
                  <label class="form-control">{{faclityObjModal.poolArea}}</label>
                </div>
                <div class="col-6">Number Off loors</div>
                <div class="col-12">
                  <label class="form-control">{{faclityObjModal.numberOffloors}}</label>
                </div>
                <div class="col-6">Free</div>
                <div class="col-12">
                  <label class="form-control">{{faclityObjModal.facalityFree}}</label>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn btn-outline-danger " data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn btn-outline-info ">Rent</button>
          </div>
        </div>
      </div>
    </div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
</div>


