<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img style="height: 250px" src="assets/img/Screenshot%202022-08-11contract.jpg" class="d-block w-100"
           alt="...">
    </div>

  </div>
</div>
<div class="body_center_2 container">
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <form action="/facility/edit" method="post">
    <div style=" display: flex;justify-content: center;" class="row">
      <div class="col-8">
        <div>
          <div class="row">
            <div class="col-6">Facility</div>
          </div>
          <div class="row">
            <div class="col-12">
              <select>
                <option value="1">Villa</option>
                <option value="2">House</option>
                <option value="3">Room</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-6">Customer</div>
          </div>
          <div class="row">
            <div class="col-12">
              <input class="form-control" type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-6">Start date</div>
          </div>
          <div class="row">
            <div class="col-12"><input type="date" class="form-control"></div>
          </div>
          <div class="row">
            <div class="col-6">End date</div>
          </div>
          <div class="row">
            <div class="col-12"><input class="form-control" type="date"></div>
          </div>
          <div class="row">
            <div class="col-6">Deposit</div>
          </div>
          <div class="row">
            <div class="col-12"><input class="form-control" type="text"></div>
          </div>
          <div class="row">
            <div class="col-6">Total money</div>
          </div>
          <div class="row">
            <div class="col-12"><input class="form-control" type="number"></div>
          </div>
          <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span>
          </div>
          <div class="row">
            <div class="col-6">
              <button style="margin-right: 5px" class="btn btn-outline-success">Edit</button>
              <button routerLink="/contract"  class="btn btn-outline-danger">Exit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
</div>
