<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="margin-top: 203px">
      <img style="height: 250px" src="anh/Screenshot%202022-08-11%2014084722.jpg" class="d-block w-100"
           alt="...">
    </div>

  </div>
</div>
<div class="body_center_2 container">
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div>
    <form action="/facility/edit" method="post">
      <div style=" display: flex;justify-content: center;" class="row">
        <div class="col-8">
          <div>
            <div class="row">
              <div class="col-6">Facility type</div>
            </div>
            <div class="row">
              <div class="col-12">
                <select>
                  <option value="1">Villa</option>
                  <option value="2">House</option>
                  <option value="3">Room</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-6">Name</div>
            </div>
            <div class="row">
              <div class="col-12">
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-6">Cost</div>
            </div>
            <div class="row">
              <div class="col-12"><input type="text" class="form-control"></div>
            </div>
            <div class="row">
              <div class="col-6">Area</div>
            </div>
            <div class="row">
              <div class="col-12"><input class="form-control" type="text"></div>
            </div>
            <div class="row">
              <div class="col-6">Max people</div>
            </div>
            <div class="row">
              <div class="col-12"><input class="form-control" type="text"></div>
            </div>
            <div class="row">
              <div class="col-6">Rent type</div>
            </div>
            <div class="row">
              <div class="col-12">
                <select class="form-select" name="" id="">
                </select>
              </div>
            </div>
            <div class="row room">
              <div class="col-6">Standard room</div>
            </div>
            <div class="row room">
              <div class="col-12"><input type="text" class="room form-control"></div>
            </div>
            <div class="row room">
              <div class="col-6">Description other convenience</div>
            </div>
            <div class="row room">
              <div class="col-12"><input class="room form-control" type="text"></div>
            </div>
            <div class="row house room">
              <div class="col-6">Pool area</div>
            </div>
            <div class="row house room">
              <div class="col-12"><input type="text" class="room house form-control"></div>
            </div>
            <div class="row room">
              <div class="col-6">Number of Floors</div>
            </div>
            <div class="row room">
              <div class="col-12 room"><input type="text" class="room form-control">
              </div>
            </div>
            <div class="row villa house" style="display: none">
              <div class="col-6">Facility free</div>
            </div>
            <div class="row villa house" style="display: none">
              <div class="col-12"><input type="text" class="villa house form-control">
              </div>
            </div>
            <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span>
            </div>
            <div class="row">
              <div class="col-6">
                <button class="btn btn-outline-success">Edit</button>
                <button class="btn btn-outline-danger">Exit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
</div>
