<div class="container-fluid" [ngStyle]="{backgroundColor: color}" >
  <h2>Calculator</h2>
  <div class="row">
    <div class="col-4">
      number1:
      <input class="form-control" type="number" [(ngModel)]="number1">
    </div>
    <div class="col-2">
      Math:
      <select class="form-control" name="" [(ngModel)]="operator">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
      </select>
    </div>
    <div class="col-2">
      background-color:
      <input class="form-control" type="color" [(ngModel)]="color">
    </div>
      <div class="col-4">
        number2:
        <input class="form-control" type="number" [(ngModel)]="number2">
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <span>Result: </span><span [innerText]="calculate(this.number1,this.number2,this.operator)"></span>
      </div>
    </div>
  </div>

