<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img style="height: 250px" src="assets/img/Screenshot%202022-08-11CUSTOMER.jpg" class="d-block w-100"
           alt="...">
    </div>

  </div>
</div>
<div class="body_center_2 container">
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div style="text-align: center">
    <a routerLink="/customer/create"><button class="btn btn-outline-success" type="button">CREATE</button></a>
  </div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="row" style="display: flex;justify-content: flex-end;">
  <div class="d-flex col-3">
    <input class="form-control me-2" type="search" placeholder="Search" [(ngModel)]="nameSearch" aria-label="Search">
    <button class="btn btn-success" (click)="search()">Search</button>
  </div>

  </div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <table class="table table-light">
    <thead>
    <tr>
      <th>STT</th>
      <th>Customer Type</th>
      <th>Name</th>
      <th>Day Of Birth</th>
      <th>Gender</th>
      <th>Id Card</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Edit</th>
      <th >Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of customers | paginate: { itemsPerPage: 2, currentPage: p };index as i ">
       <td>{{i+1}}</td>
       <td>{{item.type.name}}</td>
       <td>{{item.name}}</td>
       <td>{{item.dayOfBirth}}</td>
       <td>{{item.gender}}</td>
       <td>{{item.idCard}}</td>
       <td>{{item.phone}}</td>
       <td>{{item.email}}</td>
       <td>{{item.address}}</td>
      <td>
        <a [routerLink]="['/customer/edit',item.id]" class="btn btn-outline-success">
          Edit
        </a>
      </td>
      <td>
        <button (click)="openDelete(item.id,item.name)" type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="vc_empty_space" style="height: 20px"><span class="vc_empty_space_inner"></span></div>
  <div style="display: flex;justify-content: center;">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 110px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          bạn có muốn xóa <span style="color: red">{{name}}</span>
        </div>
        <div class="modal-footer">
          <button  type="button" class="btn btn btn-outline-info" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn btn-outline-danger" data-bs-dismiss="modal" (click)="delete(id)" >Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
</div>
