<div class="container" style="text-align: center">
  <div class="row text-center mx-auto mb-5" style="max-width: 600px;">
    <h1 class="pt-5">Create Category</h1>
  </div>
  <form style="text-align: -webkit-center" [formGroup]="categoryForm" (ngSubmit)="submit()">
    <table class="table">
      <tr>
        <td class="pe-5">Name:</td>
        <td><input class="form-control" type="text" formControlName="name"></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="vstack" style="display: inline">
            <button  class="m-5 btn btn-success">
              Create
            </button>
            <a class="m-5" routerLink="/category">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x text-danger" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>
