
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" xmlns="http://www.w3.org/1999/html">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="height: 250px" src="assets/img/Screenshot%202022-08-11%20094034.jpg" class="d-block w-100"
           alt="...">
    </div>

  </div>
</div>
<div class="body_center_1 container">
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

  <div class="row">
    <div class="col-lg-4">
      <h2 style="font-size: 22px;color: #cbbe73;line-height: 36px;text-align: left;font-family:Playfair Display;font-weight:700;font-style:normal">
        THIS WORLD CLASS RESORT, FURAMA DANANG, REPUTABLE FOR BEING A CULINARY RESORT IN VIETNAM
      </h2>
    </div>
    <div class="col-lg-4" style="text-align: center">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/0YT3hj2TLb8"
              title="Furama Resort Danang" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <div class="col-lg-4">
      <p style="text-align: justify;">
        Overlooking the long stretch of wide white sand on Danang Beach, Furama Resort Danang is a gateway
        to three World Heritage Sites of Hoi An (20 minutes), My Son (90 minutes) and Hue (2 hours). The 198
        rooms and suites plus 70 two to four bedroom pool villas feature tasteful décor, designed with
        traditional Vietnamese style and a touch of French colonial architecture and guarantee the Vietnam’s
        the most prestigious resort -counting royalty, presidents, movie stars and international business
        leaders among its celebrity guests.
      </p>
    </div>
  </div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  </div>
  <div class="row container-fluid ">
    <div class="col-lg-12  " style="margin: 0 auto;background-color: #f3f3f3;height: 80px">
      <div class="vc_empty_space" style="height: 23px"><span class="vc_empty_space_inner"></span></div>
      <h2 style="font-size: 24px;color: #cbbe73;line-height: 36px;text-align: center;font-family:Playfair Display;font-weight:700;font-style:normal"
          class="vc_custom_heading">OFFERS & DEAL</h2>
    </div>
  </div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
<div class="body_center_2 container">
  <div class="row ">
    <div class="col-lg-12" style="margin: 0 auto">
      <h2 style="font-size: 24px;color: #cbbe73;line-height: 36px;text-align: center;font-family:Playfair Display;font-weight:700;font-style:normal"
          class="vc_custom_heading">ROOMS & SUITES</h2>
    </div>
    <div class="col-lg-6" style="margin: 0 auto; text-align: center">
      <p>
        All 198 rooms & suites have polished timber floors, natural fabrics, comfortable cane furniture,
        plantation style shutters and ceiling fans.
        room also has its own balcony or spacious terrace providing complete privacy and with a superb view
        of the ocean,
        the tropical garden or the freshwater swimming lagoon pool.
      </p>
    </div>
  </div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="row">
    <div class="col-lg-4">
      <a routerLink="/facility">
        <div class="card" style="width: 100%">
          <img style="height: 220px"
               src="assets/img/Vietnam_Danang_Furama_Ocean-Deluxe-double-bed-M-1047x563.jpg"
               class="card-img-top" alt="...">
          <div class="card-body">
            <h6>LAGOON SUPERIOR</h6>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a routerLink="/facility">
        <div class="card" style="width: 100%">
          <img style="height: 220px" src="assets/img/128146699-cr-800x450.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h6>OCEAN DELUXE</h6>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4">
      <a routerLink="/facility">
        <div class="card" style="width: 100%">
          <img style="height: 220px" src="assets/img/twins-bed-lagoon-superior-furama-da-nang-1-1024x551.jpg"
               class="card-img-top" alt="...">
          <div class="card-body">
            <h6>OCEAN STUDIO SUITE</h6>
          </div>
        </div>
      </a>
    </div>
  </div>


  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  <div class="row ">
    <div class="col-lg-12" style="margin: 0 auto">
      <h2 style="font-size: 24px;color: #cbbe73;line-height: 36px;text-align: center;font-family:Playfair Display;font-weight:700;font-style:normal"
          class="vc_custom_heading">JOINING OUR CULINARY &amp; RECREATIONAL EXPERIENCE</h2>
    </div>
    <div class="col-lg-6" style="margin: 0 auto; text-align: center">
      <p>
        The Furama Resort aims to make your stay in Vietnam a unique and unforgettable experience. Whether
        you prefer to be active or just to relax, we offer a wide range of activities and services to suit
        your needs.
      </p>
      <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
      <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
      <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <img width="90%" height="90%" src="https://furamavietnam.com/wp-content/uploads/2018/07/CULIRARY.jpg">
    </div>
    <div class="col-lg-6">
      <div class="col-lg-12">
        <h2 style="font-size: 24px;color: #cbbe73;line-height: 36px;font-family:Playfair Display;font-weight:700;font-style:normal"
            class="vc_custom_heading">CULINARY</h2>
      </div>
      <p>The resorts culinary experience features a mixture of the authentic and locally inspired Vietnamese,
        Asian, Italian and other European cuisines plus the best imported steaks. The resort presents guests
        with varied gastronomic venues – the hip and breezy bar overlooking the beach, the exclusive Lagoon
        pool surrounded by a tropical garden, the true Italian flare offered at the Don Ciprianis, the
        refined Asian touch at Cafe Indochine or the authentic central Vietnam cuisine at the Danaksara.</p>
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button" style="background-color:#046056 ">READ MORE</button>
      </div>
    </div>
    <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="col-lg-12">
        <h2 style="font-size: 24px;color: #cbbe73;line-height: 36px;font-family:Playfair Display;font-weight:700;font-style:normal"
            class="vc_custom_heading">MEETING & EVENT</h2>
      </div>
      <p>A well-appointed International Convention Palace with ballrooms can accommodate up to 1,000 people in
        style,
        with another ten function rooms for 50 to 300 people each. A variety of cultural-themed parties on
        the beach
        or around the lagoon, in the ballrooms or outside the resort, with the surprising arrivals of VIPs
        from
        Helicopter landing on the resort’s own Helipad…</p>
      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button" style="background-color:#046056 ">READ MORE</button>
      </div>
    </div>
    <div class="col-lg-6">
      <img width="90%" height="90%"
           src="https://furamavietnam.com/wp-content/uploads/2018/10/02.-ICP-ICP_Furama_Danang_-Ball-Room-4.jpg">
    </div>

    <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <img width="90%" height="90%" src="https://furamavietnam.com/wp-content/uploads/2018/07/RECREATION.jpg">
    </div>
    <div class="col-lg-6">
      <div class="col-lg-12">
        <h2 style="font-size: 24px;color: #cbbe73;line-height: 36px;font-family:Playfair Display;font-weight:700;font-style:normal"
            class="vc_custom_heading">RECREATION</h2>
      </div>
      <p>A full range of Water Sports will keep you busy. Stop by the Water Sport House where our
        experienced staff are waiting to assist or train you in the use of any of our equipment.</p>
      <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
      <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
      <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button" style="background-color:#046056 ">READ MORE</button>
      </div>
    </div>
    <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
    <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

  </div>
</div>
